
/*reseteo general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

/*estilo para el body*/
body {
    background-color: #f9f9f970;
}


/*posición del titulo*/
header {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

/*estilo del titulo*/
header .titulo {
    font-size: 2rem;
    text-transform: uppercase;
}

/*posición de los elementos en el main*/
main {
    display: grid;
    grid-template-columns: 400px 1fr;
}

/*posición de los elementos en el form*/
.formulario {
    display: grid;
    grid-template-columns: 170px 170px;
    gap: 0.5rem 0;
}

/*estilo de los label*/
.formulario label {
    padding: 0.5rem 0.4rem;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
}

/*estilo de los input del formulario*/
.inputFormulario {
    padding: 0.5rem 0.4rem;
    border-radius: 0.5rem;
    height: 30px;
}

/*estilo de los botones*/
button {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

/*posición del buscador*/
.buscador {
    padding-bottom: 4rem;
}

/*posición de los elementos registro*/
.registro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/*estilo del registro donde se muestan los vendedores*/
.inputRegistro {
    width: 160px;
    height: 30px;
    padding: 0.5rem 0.4rem;
    border-top: 1px dotted red;
    border-bottom: 1px dotted red;
    border-left: none;
    border-right: none;
}

/*dispoción de los elementos en una vista móvil*/
@media screen and (max-width: 400px){
    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}